<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>velocityTorchQuiet</key>
    <string>SliceClassifyMaskPeerlessVoyage</string>
    <key>strategyEmber</key>
    <string>StretchCuratedHarbor</string>
    <key>marginRepaintGlobalAlpha</key>
    <string>FilterWithoutVelocity</string>
    <key>quirkAccept</key>
    <string>SliceStubReadTonalCollection</string>
    <key>commandMetricsPlayLoose</key>
    <string>TransformerWalkExposeReset</string>
</dict>
</plist>
