<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>reliefSlashThreaded</key>
    <string>OccasionUpdaterSourceFlex</string>
    <key>fenceFacadeSample</key>
    <string>TenseAcrossConnector</string>
    <key>wisdomEnsureCapacityBrisk</key>
    <string>GulfAssistCoral</string>
    <key>rationalExpose</key>
    <string>HighlightWaveDepotNavigation</string>
    <key>autosavePetitePrototypeReport</key>
    <string>TailVerseDropBeyond</string>
    <key>animatorLockSolution</key>
    <string>OrbitHeroicCourierMemory</string>
    <key>immenseClearPackageDispatcher</key>
    <string>LargeStateInspector</string>
    <key>featheredExpose</key>
    <string>RepositionHeapOver</string>
    <key>adapterAdaptDispatcherBright</key>
    <string>RefinedDeviceReal</string>
</dict>
</plist>
