<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>validationMild</key>
    <string>DuplicateSteamPleasedSteel</string>
    <key>finishSynchronizerRotationTerse</key>
    <string>SourceHydrateRowPack</string>
    <key>fleetPleasantDistance</key>
    <string>LeafLeftMarginAbove</string>
    <key>turnPrimalHead</key>
    <string>MockReplayRidge</string>
    <key>plannerDerive</key>
    <string>ShaderWidescreenEntropy</string>
</dict>
</plist>
