<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>windResponse</key>
    <string>PivotCascadeSelector</string>
    <key>evolutionPayloadJudicious</key>
    <string>ThemeGiftedPermutationChasmMeadow</string>
    <key>sphereCapacity</key>
    <string>PermutationSaturatedAppearanceNeutral</string>
</dict>
</plist>
