<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>wellMajorAuthenticateSlash</key>
    <string>ReflectMind</string>
    <key>semanticsThrottle</key>
    <string>FinishLean</string>
    <key>spawnLiberal</key>
    <string>OrganicOrchestrateMigrate</string>
    <key>dispatchOrientationSpatial</key>
    <string>CavernSpeckledBloomingArithmetic</string>
    <key>ontoHue</key>
    <string>ThroughZoomEntryZestfulNegate</string>
    <key>showDefiniteBrook</key>
    <string>PlayTickerShape</string>
    <key>arcSerene</key>
    <string>RestZoomImageVirtuous</string>
</dict>
</plist>
