<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>enableCompositionSphere</key>
    <string>SpectrumThroughSubscribeAbsorb</string>
    <key>verseProbeScrollerTall</key>
    <string>DecompressOffsetIntegrateControl</string>
    <key>viableAlongside</key>
    <string>ExpandedJoyfulDismiss</string>
    <key>outlineTenseHost</key>
    <string>UploadActionDeferParse</string>
    <key>neuralNature</key>
    <string>ClipAvatarConsumeElevate</string>
    <key>discreteKeyGroupParticle</key>
    <string>SaturationNotebookAmortizationHaze</string>
    <key>preciseWalkEnd</key>
    <string>TameHighlightValidateStrip</string>
</dict>
</plist>
