<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>skySizeShimmeringTrack</key>
    <string>CollateStandReliefWayDramatic</string>
    <key>steamRender</key>
    <string>VibrantAmend</string>
    <key>circuitStreamAnimator</key>
    <string>SaturatedTrendProtect</string>
    <key>capacitiesPolicy</key>
    <string>ResolveGroveSpace</string>
    <key>gloriousContractionGroupSurface</key>
    <string>ShadeDismissImpression</string>
</dict>
</plist>
