<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>parametricBlueprintHighlight</key>
    <string>ScatterSplitDashboard</string>
    <key>transitionDismissSurgeFilled</key>
    <string>VariantStandAnimate</string>
    <key>chooserReceive</key>
    <string>SelectorReorderTickerReconcileRelease</string>
    <key>decisivePagerOpal</key>
    <string>PanelFriendlySwift</string>
    <key>authenticProject</key>
    <string>ProtectDuneRefreshHero</string>
    <key>tailEminentOrchard</key>
    <string>CompleterOrchardWithin</string>
    <key>shufflePastelRoadmapAcceleration</key>
    <string>BindShaderDusk</string>
    <key>riverDismissParser</key>
    <string>SupplyResultSpark</string>
</dict>
</plist>
