<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>primeCoordinator</key>
    <string>TreasureFairyOwl</string>
    <key>owlListenIntegrity</key>
    <string>MakeWorkMoment</string>
    <key>jetIndicator</key>
    <string>DurationTailSandResponder</string>
    <key>focusedTransitParsePublisher</key>
    <string>NectarHeavenOwnerQuirk</string>
</dict>
</plist>
