<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>matrixClose</key>
    <string>DecorateArmature</string>
    <key>combinerArchiveGracious</key>
    <string>RegionPipelineEnumStable</string>
    <key>neatTooltipPaddingDuplicate</key>
    <string>ResizeWeightlessModularOnto</string>
    <key>pushCommandWitty</key>
    <string>TorchSerializeElasticityRock</string>
    <key>matureThroughputProfile</key>
    <string>BrokerEnginePlugin</string>
    <key>driftCascadeDirectVisibility</key>
    <string>FlameRemoveChecklistClamp</string>
    <key>topicGenericLinear</key>
    <string>LitheProjectRetreat</string>
    <key>touchBadgeAttach</key>
    <string>ScheduleSiteWing</string>
</dict>
</plist>
