<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>intactCreator</key>
    <string>RateDeliverInstructionTense</string>
    <key>ribbonLatency</key>
    <string>AspectDensitySpawnEminent</string>
    <key>pivotLabel</key>
    <string>BalancerBarFrom</string>
    <key>havenImproved</key>
    <string>SynchronizerOptimizeDropdown</string>
    <key>briskMultiplicationNormalize</key>
    <string>ToolbarThrottleBirchTag</string>
</dict>
</plist>
