<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>layoutTower</key>
    <string>ShadedScrollValidateMatrix</string>
    <key>rotationSoundAvatar</key>
    <string>ReportElegantAudit</string>
    <key>fairJourney</key>
    <string>ElevateUnlockExposeWhite</string>
    <key>interactionFreshControlBeside</key>
    <string>UponWarmupCardWhiten</string>
    <key>allocatorPostbox</key>
    <string>EnableDelegateStemSwiftOrigin</string>
</dict>
</plist>
