<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>placidDataTitleTrim</key>
    <string>EncodeTimerEquivalent</string>
    <key>refinedClearMaterialMixer</key>
    <string>DispatcherStitchReplaceRun</string>
    <key>permutationMigrate</key>
    <string>LossGenerateScopeSlice</string>
    <key>northEffect</key>
    <string>ConvergeTransformableLayout</string>
</dict>
</plist>
