<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>lifecycleProbeWireless</key>
    <string>PastelThroughoutLandscape</string>
    <key>diffuseDusk</key>
    <string>UnregisterDecompressAvatar</string>
    <key>composeMenuTextured</key>
    <string>HighlightTertiaryDetail</string>
    <key>structureContrastConnectPrimal</key>
    <string>AfterOwnerConnectWide</string>
</dict>
</plist>
