<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>texturedExtend</key>
    <string>BesideAnimatorStart</string>
    <key>stairSign</key>
    <string>FlexibleTweakTouchNegate</string>
    <key>winsomeBrainBridgeIndicator</key>
    <string>TagConstrainAccelerate</string>
    <key>menuProviderRecycleForesighted</key>
    <string>MistOutlineDescent</string>
    <key>greenShift</key>
    <string>RestrictSchedulerStatefulBuffer</string>
    <key>byPackage</key>
    <string>BalanceReactiveEntry</string>
    <key>trainHillPrimary</key>
    <string>ExtractAuthenticateAnnotateElemental</string>
    <key>stateShiftThoroughBase</key>
    <string>PetAgainst</string>
    <key>animatorDeletePlacid</key>
    <string>PatternScreenLossResourceReplay</string>
</dict>
</plist>
