<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>envelopeRoundBuoyant</key>
    <string>AngleMakePrintBrook</string>
    <key>aggregateResponseTactful</key>
    <string>TransmitTransmitBeyond</string>
    <key>leftWarmupFriendly</key>
    <string>FragmentsProtectMessageRounded</string>
    <key>gulfTransformable</key>
    <string>SelfSpoofItem</string>
    <key>selectorHeroBroad</key>
    <string>SlopeScanTreePressure</string>
</dict>
</plist>
