<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>playDetailedAccelerationSpirit</key>
    <string>CloseWithoutFontChat</string>
    <key>lithePetShrink</key>
    <string>SublimeSampleIslet</string>
    <key>boldCapsuleTimer</key>
    <string>CompressCenterBeaconCycle</string>
    <key>metricsBehind</key>
    <string>SearcherReadSplitSensor</string>
    <key>heapDiffuseMinimalPower</key>
    <string>WarpAtSummarize</string>
    <key>oceanPromptSkin</key>
    <string>PeerlessButtonCandidSurf</string>
    <key>slideDisplayFeathered</key>
    <string>TintFlameAerialAudio</string>
    <key>deltaMildSend</key>
    <string>MinifyQuotaOptimizeNavigate</string>
    <key>resourceOccasionIconicDecode</key>
    <string>ImprovedReadQuillStoryHold</string>
</dict>
</plist>
