<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>baseTransparency</key>
    <string>ApertureGloriousClassRestriction</string>
    <key>convergeNative</key>
    <string>IterativeValidatorEvaluateFragments</string>
    <key>countCoherent</key>
    <string>CaptureValuableAtTranslate</string>
    <key>dominantProcessZoneBeyond</key>
    <string>EvaluationCarefulLatency</string>
    <key>frequencyMoor</key>
    <string>ExtendLandSubtract</string>
</dict>
</plist>
