<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>deployPrecise</key>
    <string>VertexLaunchCompareGuidebook</string>
    <key>natureResultOverCrystal</key>
    <string>IntactPreserveFlashVerify</string>
    <key>passiveReleaseWishMerger</key>
    <string>CompareReplayProgram</string>
    <key>jovialNearTail</key>
    <string>BrookInspectorInsert</string>
    <key>injectionInfinite</key>
    <string>SilverCrescentMagnify</string>
</dict>
</plist>
