<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>decoratorLabel</key>
    <string>NeutralShardOrigin</string>
    <key>compactifiedContainerInteractClass</key>
    <string>HillSliceInteractiveHandy</string>
    <key>componentVersionRadiusFond</key>
    <string>ElasticityMultiplicationDispatcher</string>
    <key>validateSearcher</key>
    <string>CardChordCurve</string>
    <key>eventDirectionHeroicClean</key>
    <string>OutlineFallbackInspectPack</string>
</dict>
</plist>
