<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>conduitAuditConsistentPresenter</key>
    <string>CondenseFragmentConfigTender</string>
    <key>printTextureCosine</key>
    <string>ThresholdAroundRadar</string>
</dict>
</plist>
