<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>suiteNative</key>
    <string>CycleGentleWhiteSplash</string>
    <key>leapDismissOccasion</key>
    <string>ManageDarkSplash</string>
    <key>uninstallPortrait</key>
    <string>IslandLocatorManifestCompleter</string>
    <key>viableQuotaPressure</key>
    <string>PickerPlateSpawn</string>
</dict>
</plist>
