<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>emitDecent</key>
    <string>UnloadReceiveOptimizeSurge</string>
    <key>spineGenerate</key>
    <string>InspectDashboardFindHub</string>
    <key>tacticRadiantRevokeOptimizer</key>
    <string>ChapterTypeOverrideHandsome</string>
</dict>
</plist>
