<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>freeHeroFlame</key>
    <string>ExpandedUpDisableMigrate</string>
    <key>opacityPause</key>
    <string>SelectorAcrossOffsetCalibrate</string>
    <key>cliffContractionChiefNear</key>
    <string>AtLaunchConcatenateInvert</string>
    <key>constraintPlaza</key>
    <string>OccasionLogicalBehaviorPlot</string>
    <key>warpSwitch</key>
    <string>CreekCoordinateApplyBrief</string>
    <key>cubitStormOutsideLasting</key>
    <string>ParseDetailedNotebookBy</string>
    <key>willingMomentum</key>
    <string>RiverPrintSpeak</string>
    <key>crispEnqueueArithmeticScenario</key>
    <string>AlcoveElementalScreen</string>
    <key>readHappySeaTracker</key>
    <string>HealthyCascadeComponent</string>
    <key>featherlightPayloadProject</key>
    <string>ShrinkAllocateDeepNavigation</string>
</dict>
</plist>
