<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fairDeleteRealmModulus</key>
    <string>BalanceModalUsageEmitterOccasion</string>
    <key>metricsReplace</key>
    <string>AboveTuneRelayVineInformation</string>
    <key>nameDeleteEarnest</key>
    <string>CompactifiedBehindMake</string>
    <key>openComposite</key>
    <string>SaverMotionReloadOnto</string>
    <key>driverHarmlessDescent</key>
    <string>ResponsiveBalancerStitch</string>
    <key>animatorSublimeFetchRetreat</key>
    <string>GreenModeCancelHonest</string>
    <key>speedBalance</key>
    <string>ResumeTreatNoble</string>
</dict>
</plist>
