<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cosineAfterBadge</key>
    <string>AroundEchoVisionCaption</string>
    <key>radiusMetrics</key>
    <string>EnumBehindPanelAxisStart</string>
    <key>fleetMendUnity</key>
    <string>RemoveGladeExtensionPersist</string>
    <key>radiantShortcutInkwell</key>
    <string>AtNeutralDebounce</string>
    <key>measureFancy</key>
    <string>StripSnapOceanSlash</string>
    <key>wallTransition</key>
    <string>PremierIsolateCrossInteraction</string>
    <key>gatewayMinimal</key>
    <string>CompletionOptimizerTouch</string>
</dict>
</plist>
