<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>popupThorough</key>
    <string>VisibilityShellToast</string>
    <key>integrationAlongCircuit</key>
    <string>BehaviorCrownDecompress</string>
    <key>reliabilityAlongCohesive</key>
    <string>GroveUnregisterSpot</string>
    <key>litheProvider</key>
    <string>UninstallTintSurface</string>
    <key>spiritRouterUnlock</key>
    <string>DisclaimerUploadSpoofArtisticPrimary</string>
    <key>tensionHazeAbundant</key>
    <string>MeasurePriorityCoralVoice</string>
</dict>
</plist>
