<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>flukeImmenseDuplicateDepth</key>
    <string>OnyxMonsterConvert</string>
    <key>protectSunnyCache</key>
    <string>RidgeFringeDigestSearch</string>
    <key>thinTransmitCubit</key>
    <string>BoardNotationTryMight</string>
    <key>coolStrengthAnnotate</key>
    <string>RenderComposerOpen</string>
    <key>resolveElevatorReactiveMusic</key>
    <string>GridConcurrentToleranceMerry</string>
</dict>
</plist>
