<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>featherRefinedNormalizeProtocol</key>
    <string>EndEncodeDataOuter</string>
    <key>leafOccasion</key>
    <string>GrandOverrideTranquil</string>
    <key>accessoryMenu</key>
    <string>StateGreatFolder</string>
    <key>traceForce</key>
    <string>TransparencyPivotDecodeTune</string>
    <key>allocatorDecodeDiscreteVector</key>
    <string>RetreatSchemaPing</string>
    <key>fitToolClassifyPriority</key>
    <string>EndSineStage</string>
</dict>
</plist>
