<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pluginOutsideNavigationTextured</key>
    <string>ParserPaginateSegment</string>
    <key>balancePlatform</key>
    <string>ArtifactRandomizeDuskAbundant</string>
    <key>rainGranularSearchAppearance</key>
    <string>ColorfulConsumeBulletVisible</string>
    <key>styleIntoChecklist</key>
    <string>ForesightedTooltipFuseSignature</string>
    <key>naturalReturn</key>
    <string>PleasedApplyTrainPin</string>
</dict>
</plist>
