<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>acceptPlain</key>
    <string>CompassBinderTowardArmature</string>
    <key>ivoryAppearanceWrite</key>
    <string>StrikeNectarTrustyDocumentRobust</string>
    <key>disclaimerVisionLiberalNavigate</key>
    <string>DuplicatePlotCaptureParse</string>
    <key>insideNovelCallback</key>
    <string>InfinityFocusEnsure</string>
    <key>rightChartPatterned</key>
    <string>DecorationChecklistForceRealmLanguage</string>
    <key>lawfulLeft</key>
    <string>MagicLawfulInvalidateDownload</string>
    <key>youngDescriptionBound</key>
    <string>DismissPriorityMacroAutosaveEnum</string>
    <key>skipSplitter</key>
    <string>MusicHistogramCompressCreek</string>
    <key>nascentProxyInteractorAmend</key>
    <string>CoordinatorWindDirectory</string>
</dict>
</plist>
