<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sessionBadge</key>
    <string>FieldHeroPauseClassic</string>
    <key>aspectTailorTheme</key>
    <string>OrchestratorJungleDeliverProvision</string>
    <key>steadySelectTriangleMonitor</key>
    <string>MendEntropyReducer</string>
    <key>transformableDocument</key>
    <string>VariableAccentElmCorner</string>
    <key>systemThrottle</key>
    <string>DetachVistaTorchMoor</string>
    <key>wiseCompletion</key>
    <string>DereferenceIntensityWhisper</string>
    <key>splendidArithmeticMeasure</key>
    <string>BesideMagnetGentle</string>
    <key>pingWireless</key>
    <string>MountAutosaveCalculate</string>
    <key>conduitLucentTraversal</key>
    <string>InvalidateDepotSessionSnap</string>
</dict>
</plist>
