<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>graphicLiberalHilltop</key>
    <string>GeometricEffectRowUpgrade</string>
    <key>spoofPlace</key>
    <string>BeaconToneResponseHandsome</string>
    <key>vitalElementalEquipmentGuard</key>
    <string>SecondaryCanvasBadgeBridge</string>
    <key>thresholdIntegrationExtra</key>
    <string>BeginHeathReadListen</string>
    <key>formMightyTheme</key>
    <string>StrikeCloneWeave</string>
    <key>waveformOffsetFeathered</key>
    <string>CircleExposeObserver</string>
    <key>vertexSpan</key>
    <string>LoadSerialize</string>
</dict>
</plist>
