<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>restrictionHealthy</key>
    <string>DescriptorHandlerIncrementalEffect</string>
    <key>powerTranslateFabricSilent</key>
    <string>RecalculateOpenPetForesighted</string>
    <key>forTerse</key>
    <string>OrchestratorMigrateMultiply</string>
    <key>rotationUnit</key>
    <string>StopPivotLasting</string>
    <key>scatterLocation</key>
    <string>MovementExquisiteNormalizeProcessorIdeal</string>
</dict>
</plist>
