<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>layoutFallback</key>
    <string>AcknowledgeGroveAttach</string>
    <key>cubeWirelessForce</key>
    <string>ExtendShellPrivateFrom</string>
    <key>listSweetClipperCompare</key>
    <string>RoadmapMapperPrecious</string>
    <key>forHealthySpring</key>
    <string>ExpandEnqueueDigestBalancer</string>
    <key>preloadTameContrast</key>
    <string>ZoneCommitVelocityParcel</string>
    <key>checklistDepot</key>
    <string>PastClampMatureDesert</string>
</dict>
</plist>
