<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>duringGentleNorth</key>
    <string>CorrectTerminalScene</string>
    <key>tensionPrefetchPathQuiet</key>
    <string>SerializeTraceEarth</string>
    <key>runCheckboxRock</key>
    <string>ArchitectureHelixParseVelocityEvaluate</string>
    <key>deltaDelicate</key>
    <string>VideoReliableSampleSwitch</string>
</dict>
</plist>
