<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>minifyTrail</key>
    <string>QueueSensor</string>
    <key>breezyStormEqualizationSummarize</key>
    <string>ModeUnitInstanceUpdateCurated</string>
    <key>pickerManifestSharp</key>
    <string>DeployTrajectoryCelestialNotifier</string>
</dict>
</plist>
