<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cellMount</key>
    <string>CheckboxFitAround</string>
    <key>protectExposeExpertRemediation</key>
    <string>EncodePrecisionCropStagger</string>
    <key>sendGlobalRectangleReport</key>
    <string>BuoyantHandlerParseGrave</string>
    <key>modulusElementalQualitySample</key>
    <string>RelayReductionCollectorNorthExtension</string>
    <key>towardGenerator</key>
    <string>PreserveFastLane</string>
    <key>instructionStagger</key>
    <string>RestAboveOffShell</string>
    <key>inspectTopicSpirited</key>
    <string>ResizeChooserElasticityAccess</string>
</dict>
</plist>
