<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>downAngularMomentumTooltip</key>
    <string>PinSpeakStartCataloger</string>
    <key>layoutDensityGorgeGigantic</key>
    <string>ShadeDuplicateWreathAcceptTopmost</string>
    <key>beyondDense</key>
    <string>SlashSaveCrescent</string>
    <key>heartyOrchestrateNormDusk</key>
    <string>EnableMergerBaselineClone</string>
    <key>circuitIntoProviderYoung</key>
    <string>TweenPrimalCivicViaFunction</string>
    <key>usageDuneRuggedized</key>
    <string>ElevatorLaunchLeafDelete</string>
    <key>rebaseUrbanIntegrationFairy</key>
    <string>DecodeOriginalLasting</string>
    <key>rendererViableStyler</key>
    <string>CoolOrnateWarp</string>
</dict>
</plist>
