<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tailTrueSense</key>
    <string>SignConnectFlatUpload</string>
    <key>analyzerApply</key>
    <string>SiteBracketStartRecover</string>
    <key>outsideExtraDistinctForm</key>
    <string>StartRebaseRecycle</string>
    <key>splitAwait</key>
    <string>CubeHashCavern</string>
    <key>refreshFinder</key>
    <string>GeometricWorthCoordinate</string>
</dict>
</plist>
