<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>alongsideWilling</key>
    <string>InvokePixelDispatch</string>
    <key>ownerHighlightedRebuild</key>
    <string>ApplyCatalystThicket</string>
    <key>delegateInspector</key>
    <string>HintedArtisticPerform</string>
    <key>civicUnregisterChecklist</key>
    <string>MergeSecureCrestFragments</string>
    <key>eminentReflect</key>
    <string>RemainderGorgeAnnotateWhiten</string>
    <key>upScreenTreat</key>
    <string>SweetCheckLayer</string>
</dict>
</plist>
