<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>assignElegant</key>
    <string>SkillNegateMomentum</string>
    <key>localTree</key>
    <string>PaletteTechniqueNectar</string>
    <key>chooserPrint</key>
    <string>IslandDeployLoop</string>
    <key>stairAccelerate</key>
    <string>SublimeResolveAppend</string>
    <key>fitPlan</key>
    <string>DistanceYieldFormatterValidation</string>
    <key>plateDainty</key>
    <string>MessageGeometricDale</string>
    <key>unitCompositionGracious</key>
    <string>EnsureQuotaCurveConvertAudit</string>
    <key>frugalCapturePager</key>
    <string>BridgeRareContent</string>
    <key>enhanceBalanced</key>
    <string>DynamicDrawIntense</string>
</dict>
</plist>
