<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>coralMissionNatural</key>
    <string>DeleteJudiciousSheetZealous</string>
    <key>surfaceRebaseDurableSlash</key>
    <string>BalancerCreatorPause</string>
    <key>cornerPure</key>
    <string>ClearLand</string>
    <key>flashWait</key>
    <string>TypeSkirtBandwidthConsumer</string>
    <key>implementFilledScale</key>
    <string>DialogRepositoryMeasured</string>
    <key>clarityStreamHumble</key>
    <string>CollateGuardSkirt</string>
</dict>
</plist>
