<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tuneEverydayCombiner</key>
    <string>ElegantWaveMist</string>
    <key>equalInstructionVisualizeBoard</key>
    <string>IslandNavigateMindful</string>
    <key>inspectTower</key>
    <string>ArenaRemainderRange</string>
    <key>supremeReleaseWinter</key>
    <string>AssignCollateWord</string>
</dict>
</plist>
