<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>checkEvolutionDefinedSensor</key>
    <string>SwitchOverDriverSign</string>
    <key>humaneEnqueueMusic</key>
    <string>ShiftDramaticShuffleQuaternion</string>
    <key>paintRock</key>
    <string>DaleEntityLimitKeyframe</string>
    <key>helperWithinNeural</key>
    <string>LocationEstimateRoadmap</string>
    <key>symbolSingletonRareDown</key>
    <string>AmidAnchorRegister</string>
</dict>
</plist>
