<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>alpineOrchestrator</key>
    <string>ShiftFlameInspector</string>
    <key>flashReplaceConsumptionChief</key>
    <string>OntoMultiplyLogical</string>
    <key>entryEquipmentShrink</key>
    <string>ManifestShow</string>
    <key>repositorySurface</key>
    <string>FeatheredSplitterLog</string>
</dict>
</plist>
