<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>swatchCenterRepositoryDirect</key>
    <string>ResultPlacidShape</string>
    <key>pivotProcessWiseAlcove</key>
    <string>RangeCompactifiedCanvasChain</string>
    <key>shrinkNoble</key>
    <string>SpeakQuirkOption</string>
    <key>capsulePreserveRelief</key>
    <string>HandsomeEquipmentTimer</string>
    <key>youngStructureTangent</key>
    <string>EnforceSymbolLakeInsert</string>
</dict>
</plist>
