<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>completionDropdownTopmostApply</key>
    <string>HighlightedLayoutMerger</string>
    <key>ascentBuild</key>
    <string>SpiceApplyWood</string>
    <key>interfaceCommand</key>
    <string>FoldReliabilityAnchorPause</string>
    <key>priorityDawn</key>
    <string>CoralSkillStandComplex</string>
    <key>woodNegateCheckbox</key>
    <string>ReleaseInstantiateDriverSearcherBefore</string>
</dict>
</plist>
