<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>globalInspectReducerData</key>
    <string>JetPlayDisable</string>
    <key>remediationAdaptLinkSnappy</key>
    <string>PlayLogConverge</string>
    <key>idealCrownObserverAnimate</key>
    <string>ChainClean</string>
    <key>patchSpeckled</key>
    <string>PublishInvokeDale</string>
    <key>aspectUtmostSignal</key>
    <string>GateReuseValidator</string>
    <key>speedNavigateThoroughSpectrum</key>
    <string>BandwidthAiryFile</string>
    <key>activityRareStackZone</key>
    <string>HorizonMatchUnitActivity</string>
    <key>magnetMergeExponentBasic</key>
    <string>PackWinsomeLoadDelay</string>
</dict>
</plist>
