<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>localizationStrikeRichMinify</key>
    <string>InflateListEminent</string>
    <key>visibilitySpokePetiteTranslate</key>
    <string>HeapUtilityConnectorRich</string>
    <key>stateCoderAbundant</key>
    <string>AnnotateGroupWeave</string>
    <key>speedLucentSpiral</key>
    <string>CommitHeapTransparencyShrink</string>
    <key>vastLossReleaseStructure</key>
    <string>ReservoirHiveSkilled</string>
</dict>
</plist>
