<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>distributeAggregatorColorHolistic</key>
    <string>RegistryBeautifySong</string>
    <key>syncEminent</key>
    <string>WhitenSpecifierDraw</string>
    <key>matchPeaceful</key>
    <string>FontConvergeDeliverPriority</string>
    <key>utmostExponentStyle</key>
    <string>ConvergeSparkAdapt</string>
    <key>restrictWorthy</key>
    <string>HardFormatterDropMusic</string>
    <key>durableRevoke</key>
    <string>PrivateMightyGlobeBullet</string>
</dict>
</plist>
