<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cautiousMarginAfter</key>
    <string>ParametricCarefulParametricLoad</string>
    <key>journeyPublisher</key>
    <string>RoadmapByCollate</string>
    <key>depotCapacitiesWeightlessMeasure</key>
    <string>AppendBesideDuring</string>
</dict>
</plist>
