<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>systemAppend</key>
    <string>CompressNotifierSymbolForm</string>
    <key>evenInto</key>
    <string>RepositoryAboveToastStencil</string>
    <key>tribeChief</key>
    <string>TreatTransformFromCancel</string>
    <key>analyzeAtomic</key>
    <string>GrainGraciousEventEntropyEquivalent</string>
    <key>checkValley</key>
    <string>BarMarkUrbanNearMonochrome</string>
    <key>alignmentReceiver</key>
    <string>StarToolToolbarCompass</string>
    <key>harnessSecondary</key>
    <string>WealthLoaderVocal</string>
    <key>ownerFocalDetachCelestial</key>
    <string>BuoyantBrilliantSummitClass</string>
    <key>sortFactoryHighlighted</key>
    <string>OffsetBeaconWalk</string>
    <key>navigatorAnimationClassicPopulate</key>
    <string>VisualizeRepositionBorder</string>
</dict>
</plist>
