<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>groupTextureShimmering</key>
    <string>PreserveVisionDistribute</string>
    <key>gradualDeleteLocationYear</key>
    <string>BridgeTaskInferenceFor</string>
    <key>switchTenderScaleMapper</key>
    <string>SeamlessTreatUpOwl</string>
    <key>withoutFormatter</key>
    <string>SkirtAggregateInset</string>
    <key>operatorReadPeerless</key>
    <string>UrbanUtmostDale</string>
    <key>encodeFacet</key>
    <string>CrownConvertRefresh</string>
    <key>componentPixel</key>
    <string>DerivePermutationPlot</string>
    <key>gradientInteger</key>
    <string>WithoutListenerDirectInteract</string>
</dict>
</plist>
