<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>gloriousPressureTransitTranslate</key>
    <string>VariantPrecisionRoleRadiusBalanced</string>
    <key>magnifyOrchestrator</key>
    <string>MockHeroicInkwell</string>
</dict>
</plist>
