<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>navigateRepository</key>
    <string>IterateSelectSecureOrganizer</string>
    <key>youngPolicyIntegrity</key>
    <string>DeriveFallsShow</string>
    <key>fairMergerPrefetch</key>
    <string>EquipmentHelixNegateReflect</string>
    <key>detectorPreserveModestRibbon</key>
    <string>ManageRebaseRelay</string>
</dict>
</plist>
