<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fancyNameQuirk</key>
    <string>PhaseSpiritTensionPlain</string>
    <key>litheValidatorAtWord</key>
    <string>ColumnExposeSpoke</string>
    <key>formatterTallCapacityLocalize</key>
    <string>EntryFocusedReadCompletion</string>
    <key>tweenWithinTempleSublime</key>
    <string>KeeperThreadState</string>
</dict>
</plist>
