<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>uprightChecklistShare</key>
    <string>GrandRuggedTimeLanguage</string>
    <key>modestFolderPublishCharacter</key>
    <string>SelectBannerShift</string>
    <key>utmostWithoutRuggedFlags</key>
    <string>ConstrainMistMark</string>
    <key>descriptorBundle</key>
    <string>TagMeridianInvalidate</string>
    <key>rowTechnique</key>
    <string>SpeakWeaveText</string>
    <key>ownerComplexStrength</key>
    <string>RenderDeriveUnit</string>
</dict>
</plist>
