<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>isolateHappyAroundWorld</key>
    <string>PreloadNearPalette</string>
    <key>pagerRestrict</key>
    <string>PaginatePrimaryTransparency</string>
    <key>petalSunnyTrackCore</key>
    <string>ModelBottomOnyx</string>
    <key>worthPositionedUnifiedSnap</key>
    <string>SculptedCollectorExecute</string>
    <key>dividerVisualize</key>
    <string>SceneAccentTruth</string>
    <key>normBirchAcknowledgeSmooth</key>
    <string>BeautifyKernelCalm</string>
    <key>definiteEnforceBinaryReduction</key>
    <string>AvatarOntoPressureCanyonQuirk</string>
    <key>listBrief</key>
    <string>FlukeWordDecompressOnyx</string>
</dict>
</plist>
