<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>operationFallback</key>
    <string>SetShowBesideDrop</string>
    <key>optionPassiveDependencyCompose</key>
    <string>CandidCurrentDome</string>
    <key>gardenFertileDrain</key>
    <string>SortWeightlessTagViewport</string>
    <key>brokerConfigSuperShrink</key>
    <string>ThornOpacityUtmostChain</string>
    <key>sternLoad</key>
    <string>GuideConsumptionBesideDuplicate</string>
</dict>
</plist>
