<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tickerOff</key>
    <string>ContinuePreloadOnyx</string>
    <key>weightedPolicyTickerCheck</key>
    <string>GardenConsumeSave</string>
    <key>unaryWhiten</key>
    <string>AnimationAspectTriggerEvolutionMirror</string>
    <key>converterPaint</key>
    <string>SubmitAudioAbstractWithinStatus</string>
</dict>
</plist>
