<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>prioritizeBase</key>
    <string>StencilClassSliceAmidTruncate</string>
    <key>targetRebuildDepth</key>
    <string>ChannelModestWellAdaptive</string>
    <key>focalCentral</key>
    <string>CubitBrookDismissNavigator</string>
    <key>stitchStemProudRepository</key>
    <string>FoldPositionerOptimizeConverter</string>
    <key>magnetDispatch</key>
    <string>IntegrationNotifierRole</string>
</dict>
</plist>
