<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>animatorAssignCurrentBalanced</key>
    <string>DuplicateRotateBlend</string>
    <key>echoTrustedCell</key>
    <string>DeployShiftSnow</string>
    <key>searchBrokerPrudentWood</key>
    <string>OccasionNotifyIdentifyStrip</string>
    <key>panelStable</key>
    <string>ImmensePathBoldWave</string>
    <key>fillSpiralUrban</key>
    <string>ElasticityBalanceQueueLocalize</string>
    <key>agileForestFlex</key>
    <string>OutlineOverrideBirch</string>
    <key>dimensionGateFitDigest</key>
    <string>SpatialSpiralDescriptorTune</string>
    <key>mutualAttachNormFrame</key>
    <string>CycleConvergePriority</string>
    <key>curvyLossKeyAlongside</key>
    <string>MigrateShareCorrect</string>
    <key>playfulYieldExtendStoryboard</key>
    <string>EdgeFairExpandedAmong</string>
</dict>
</plist>
