<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>lawfulInside</key>
    <string>DropReconcileHive</string>
    <key>variableSecure</key>
    <string>VoiceSemanticsHeader</string>
    <key>facetLayerHumane</key>
    <string>BrookGladeComposeQuaternion</string>
    <key>buildListener</key>
    <string>TacticBrokerInterruptConcatenate</string>
</dict>
</plist>
