<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>eminentGorgeStateless</key>
    <string>SequenceCaptureTreat</string>
    <key>matchHonest</key>
    <string>LeapCascadeSlider</string>
    <key>duringPhase</key>
    <string>ResizeHoldMeasurePainterUtility</string>
    <key>publishBrilliantly</key>
    <string>RestoreOffsetDramaticWander</string>
    <key>publishTerseGrayscaleWreath</key>
    <string>ExtendHideReflect</string>
    <key>factoryAbstractSwatchDisable</key>
    <string>MediatorSaturationArtistic</string>
</dict>
</plist>
