<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>requestSleekShiftNotebook</key>
    <string>EpisodeBalancer</string>
    <key>turnOpen</key>
    <string>ShadowedColorTopicCenter</string>
    <key>clipTreatMerit</key>
    <string>StaggerMementoProcessorExport</string>
    <key>triumphMultiplyItem</key>
    <string>ExoticAttachRepositionTransmit</string>
</dict>
</plist>
