<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>widescreenLegacySequenceSink</key>
    <string>RegionMaterialOrchestrateItem</string>
    <key>depthCrop</key>
    <string>OfToastPruneCoderEnable</string>
    <key>sleekLoss</key>
    <string>NativeResizeAuthenticSizeFocal</string>
    <key>diffuseCurrentIntensity</key>
    <string>PlateHeightCheckbox</string>
</dict>
</plist>
