<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>localizeOwner</key>
    <string>PackFirmLogBandwidth</string>
    <key>figureStyler</key>
    <string>BeginSearchColumnElevated</string>
    <key>validationResizeCrispHorizon</key>
    <string>LivelyGridMotion</string>
    <key>catalystFormatter</key>
    <string>TagHazeClever</string>
    <key>goodRepaintInterpolation</key>
    <string>FlashSpeckledProcess</string>
    <key>matureApply</key>
    <string>RemoveStar</string>
    <key>peerlessNotifyResponseArray</key>
    <string>BlockAnimateAlcove</string>
</dict>
</plist>
