<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>registryInvertShoreForceful</key>
    <string>ExportAccessoryValidationSegue</string>
    <key>trustworthyPushSpan</key>
    <string>MountLandReplay</string>
    <key>accelerateFilterFlags</key>
    <string>ConnectAssistBoard</string>
    <key>versionSizeSegment</key>
    <string>NumberGlobalDashboard</string>
    <key>decorationMoveGreen</key>
    <string>SphereIntensityVitalArena</string>
</dict>
</plist>
