<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>spontaneousVoyage</key>
    <string>ParametricTargetBoxSuper</string>
    <key>runRectPower</key>
    <string>SubscribeSymbolOutline</string>
    <key>hydrateChecklistSpectrum</key>
    <string>AroundDistinctionAdapterTheoryThrottle</string>
</dict>
</plist>
