<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>decoratorTangibleLocator</key>
    <string>SchemaGraciousCenterMine</string>
    <key>loadDesertBreezyBinder</key>
    <string>InspectorDurationHazeAssembler</string>
    <key>emitAbstractPrairieCubit</key>
    <string>RefreshAcrossAccept</string>
    <key>pleasantArchiveAnimator</key>
    <string>OrchardDescentMove</string>
    <key>warpCandidProtocol</key>
    <string>NeutralStitchNormalizeScale</string>
    <key>adaptivePine</key>
    <string>ConstraintHostDramaticPlugin</string>
    <key>gladFromTolerance</key>
    <string>DeferClipFormatterRobustAllocate</string>
    <key>screenFeatheredThrottleFocus</key>
    <string>SturdyHeapSummitSpring</string>
    <key>gladTracker</key>
    <string>InteractionSkyAbstract</string>
</dict>
</plist>
