<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>resilienceAngularBanner</key>
    <string>QuaternionMainRebuildAnimate</string>
    <key>sublimeDurationHistoryWarmup</key>
    <string>TupleEvaluationThinCaptionSend</string>
    <key>daleTactful</key>
    <string>BackupRevokeWait</string>
    <key>stretchFriendly</key>
    <string>PrototypeDetailOptimalSpring</string>
    <key>findPagerPragmaticSkill</key>
    <string>CounterForceProvision</string>
    <key>idealAnchorSaveSlash</key>
    <string>DefineAngleTentative</string>
    <key>highlightExpandedAnchor</key>
    <string>ShowShowTerseTransform</string>
</dict>
</plist>
