<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>vertexInspectSegueGreen</key>
    <string>DetectWithOptimize</string>
    <key>honeyTallCaption</key>
    <string>WhitePreciseSandRegister</string>
    <key>amongTransition</key>
    <string>DirectoryHubEntropyPacific</string>
    <key>chartCompact</key>
    <string>StatusBundleAtRound</string>
    <key>portalClassify</key>
    <string>SplashLegacyAudio</string>
    <key>composerIntenseThrottle</key>
    <string>BesideBehindVividPieceDispatch</string>
    <key>globalVariantResolver</key>
    <string>TransformableAdaptHive</string>
</dict>
</plist>
