<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>wellStyler</key>
    <string>DuringOverrideRegisterVigorous</string>
    <key>responderBehindAsset</key>
    <string>ClipSelectResetStop</string>
    <key>earnestAspectIntegrateKey</key>
    <string>ReductionDeliverLedgerArenaMark</string>
</dict>
</plist>
