<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>unlockSpacingChartGranular</key>
    <string>PublishPacificMultiplicationSubtract</string>
    <key>underTruthCubitMutual</key>
    <string>DownloadWavy</string>
    <key>glimpsePermutationRepositionPlacid</key>
    <string>GraciousPrioritizeGraciousGreat</string>
    <key>interactorFinishFlex</key>
    <string>RestrictSenseStrike</string>
</dict>
</plist>
