<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>consumeStern</key>
    <string>EncodeSnapExpanded</string>
    <key>breezyWishPopulate</key>
    <string>QueueUpgradeDapperCavern</string>
    <key>architectureMomentLeanBind</key>
    <string>ThresholdPrimaryPleasantTryTransformable</string>
    <key>shaderMagnify</key>
    <string>PineScheduler</string>
    <key>localResolver</key>
    <string>KineticPinSequenceBrain</string>
    <key>abortPetUnified</key>
    <string>RotateOrchestrateMagicBeyond</string>
    <key>offOverlayPragmatic</key>
    <string>AccountSkinSunNature</string>
</dict>
</plist>
