<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>intactRestriction</key>
    <string>BelowKeeperOutsideMechanism</string>
    <key>waitWitty</key>
    <string>PeakLandscapeYearCapture</string>
    <key>surgeSeasonalBottom</key>
    <string>WingShowWalkLock</string>
    <key>twistAcknowledge</key>
    <string>GorgeRadiantCrystalTo</string>
</dict>
</plist>
