<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>toneAllocatorQuiet</key>
    <string>OntoBalancedPrototypeRemainderShrink</string>
    <key>qualityRingBoxLaunch</key>
    <string>TryPrefetchDispatcherFlow</string>
    <key>forestTertiary</key>
    <string>RepositionPolygonVapor</string>
    <key>hideConductor</key>
    <string>AnnotateCancelMirror</string>
    <key>arithmeticAfter</key>
    <string>WithoutClipPlayful</string>
    <key>conductorTrim</key>
    <string>StartDashboardHeaderMine</string>
</dict>
</plist>
