<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>plazaComponent</key>
    <string>StripeEquipmentRemove</string>
    <key>modelHighlightedRemediationLayout</key>
    <string>ResumeBesideInformationGraciousLock</string>
    <key>clipFrost</key>
    <string>BlueprintBlitheInvertRelease</string>
    <key>scatterNotable</key>
    <string>AccumulateFaintInfrastructureMystic</string>
</dict>
</plist>
