<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>radiusLively</key>
    <string>HydrateEnhanceMeritQuirkOrchestrator</string>
    <key>decompressDistance</key>
    <string>VoyagePlayPipeline</string>
    <key>creativeWait</key>
    <string>AssignLayoutAssignVocal</string>
    <key>sincereStampTurn</key>
    <string>EquipmentSliderOrchestrateCalm</string>
</dict>
</plist>
