<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>spiritEarnest</key>
    <string>MarkGrowingEncodeSlope</string>
    <key>thicketIntimateAssist</key>
    <string>RebaseEvaluateControllerDeliver</string>
    <key>techniqueAnalyze</key>
    <string>SubtractPortalWithOverride</string>
    <key>tickerTerseFinishWhisper</key>
    <string>StorageClampCarefreeVisualize</string>
    <key>placidCount</key>
    <string>ChargeTableCommand</string>
    <key>vesselMusicFor</key>
    <string>ReplayMovementConstrain</string>
    <key>steamParse</key>
    <string>CommandOceanAmbientPopulate</string>
    <key>hideHumbleHelperHeader</key>
    <string>BuildEchoAgent</string>
</dict>
</plist>
