<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>recursionStart</key>
    <string>CompleterCoderShader</string>
    <key>architectureKineticCascadeMeridian</key>
    <string>CarefulGlad</string>
    <key>paginateIdeal</key>
    <string>ScrollDefiniteCheckRemediation</string>
    <key>catalogerDropYardUnity</key>
    <string>RotateIsolateLanguageProxy</string>
    <key>masterClipExtraGlacier</key>
    <string>PerimeterDominantJust</string>
    <key>laneBatch</key>
    <string>EffectObjectCatalogerFromParser</string>
    <key>libraryVertexInstantiate</key>
    <string>ContinueResponderStorm</string>
    <key>fabricCozy</key>
    <string>RavenManifestBalance</string>
    <key>breakMemberPassive</key>
    <string>GorgeCascadeNumberVoice</string>
    <key>rebuildSolidLegacyIntegrity</key>
    <string>KindTrail</string>
</dict>
</plist>
