<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>coherentOption</key>
    <string>ExpandDiameterRealm</string>
    <key>chooserUnityDialogDelete</key>
    <string>CalmNamespace</string>
    <key>projectTwist</key>
    <string>ExtractMysticThreadHydrate</string>
</dict>
</plist>
