<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>singletonPlotAllocate</key>
    <string>AddToUprightAnimate</string>
    <key>cosineSignature</key>
    <string>FaithfulNegate</string>
    <key>updaterElevate</key>
    <string>PlatformSlopeWithinShrinkPlugin</string>
    <key>collateTintTopmost</key>
    <string>ReuseInvokeAnimation</string>
    <key>insideForesighted</key>
    <string>MagnetKindredStayLatency</string>
    <key>frequencyBasinLock</key>
    <string>MinifyWanderViewport</string>
    <key>catalogerTrustConsolidate</key>
    <string>PushImageEnhanceCurated</string>
    <key>spiralSet</key>
    <string>TruncateForwardMount</string>
    <key>throughoutPragmaticSnapshotBullet</key>
    <string>FlexiblePureProtocolSensor</string>
    <key>bloomPlayMend</key>
    <string>MakeEvaluate</string>
</dict>
</plist>
