<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>reconcileDecorator</key>
    <string>DescentQueryPleasantInvalidate</string>
    <key>shadedEffectPaint</key>
    <string>PineCrownTribe</string>
    <key>generatorDelegateSplitModal</key>
    <string>AlertLayoutBrilliantVapor</string>
    <key>bundleStrongPresenter</key>
    <string>BeautifyPressureAccumulate</string>
    <key>geometricSkin</key>
    <string>BeginUnityPositiveVivid</string>
</dict>
</plist>
