<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>constraintNearSignature</key>
    <string>WellPolicyPlanVibrant</string>
    <key>integrationInitialFor</key>
    <string>WealthyComputeDirectory</string>
    <key>positiveRectangleVistaCompress</key>
    <string>PastPaginate</string>
    <key>gorgeConstrainDecisiveAnimation</key>
    <string>TwistReportFlagsArtfulWork</string>
    <key>functionBaseHarmless</key>
    <string>PresentResourceSilverDistinct</string>
</dict>
</plist>
