<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>guideDramatic</key>
    <string>EmitBirchOaken</string>
    <key>aggregateAutosave</key>
    <string>MeritRenderShore</string>
    <key>shadeSpiritedScale</key>
    <string>MuseConsumptionWingSteam</string>
    <key>smoothForce</key>
    <string>TargetFriendlyDeferSupreme</string>
    <key>intervalCalculateAccelerationWealthy</key>
    <string>StrategySenseSynchronizerStretch</string>
    <key>batchMeasureEmberIterative</key>
    <string>BuoyantSuperCorrect</string>
</dict>
</plist>
