<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>descentIdentify</key>
    <string>RestJovialBarVaporShrink</string>
    <key>entropyCelestialDeleteDrift</key>
    <string>MatrixMistFlagsBalance</string>
    <key>balanceArchive</key>
    <string>LoopSkillSearcherOverlay</string>
    <key>balancerPlan</key>
    <string>ReducerCubeDisplay</string>
    <key>diamondCubit</key>
    <string>IntuitiveMendInformation</string>
    <key>snapBehaviorRidge</key>
    <string>MergeWidgetCataloger</string>
    <key>arraySplitCoordinator</key>
    <string>SpiralRibbonDebounceDeriveSite</string>
</dict>
</plist>
