<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>libraryOwnerWarmup</key>
    <string>ReleaseSmartCompatibleThreshold</string>
    <key>tailorIntegrity</key>
    <string>LinearFlukeAnimationUtility</string>
    <key>slipAllocatorStretchTextured</key>
    <string>MergeScatterShape</string>
</dict>
</plist>
