<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pushFormatterSinkLinear</key>
    <string>FancyInsightCliffWalk</string>
    <key>selectorSkilledSemanticsEnhance</key>
    <string>InspectSpacerBalanced</string>
    <key>spatialBehavior</key>
    <string>HastyFillPopulate</string>
    <key>visibleElevate</key>
    <string>PrudentCancel</string>
    <key>controlLitheStatefulUnlock</key>
    <string>FilterRunShift</string>
</dict>
</plist>
