<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>reliabilityFormat</key>
    <string>StableMarginVariant</string>
    <key>downForceful</key>
    <string>ValidationRetreatHintedTemple</string>
    <key>triggerAddHealthyTrajectory</key>
    <string>GroveEnumMeasure</string>
</dict>
</plist>
