<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>urbaneFrom</key>
    <string>BeforeDrawer</string>
    <key>vividMemberFringeDiffuse</key>
    <string>BoardGlobeRemediation</string>
    <key>descentGroveSnapDirect</key>
    <string>HeathReplayDeploySplit</string>
</dict>
</plist>
