<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>catalystElegantManageThroughout</key>
    <string>LuminousWeightedLanguage</string>
    <key>hydrateEvenAppearance</key>
    <string>StripShadedSpawnLuminous</string>
    <key>cosineFilter</key>
    <string>RusticDrawerUnloadLocalize</string>
    <key>mergerTonalInspector</key>
    <string>RangeOffFlagsSplitter</string>
</dict>
</plist>
