<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>showVisitor</key>
    <string>MoveSnowBadge</string>
    <key>winsomeLayout</key>
    <string>AccelerationDispatchAboveSubtract</string>
    <key>loyalFixCreatorParameter</key>
    <string>SensorConvergeFrugalAdapt</string>
    <key>graphicGrand</key>
    <string>FancyDownArenaWithin</string>
</dict>
</plist>
