<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metricsChannel</key>
    <string>RecycleElevateSafe</string>
    <key>maskLogicalFocus</key>
    <string>ElementHumorSample</string>
    <key>animateCrownItem</key>
    <string>OpacityImage</string>
    <key>filledEquivalent</key>
    <string>ReplayDenseHavenUpdate</string>
    <key>spanFlex</key>
    <string>ImpressionMergeVoiceMetrics</string>
    <key>functionNotableAnimateSegment</key>
    <string>SpringActivityElementVisualize</string>
    <key>topicRestoreValleyLayered</key>
    <string>IntimateHeroInteractBehind</string>
    <key>tameExpandOpal</key>
    <string>HeartyExecuteParameter</string>
</dict>
</plist>
