<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>trustedGateway</key>
    <string>SolutionRotatePower</string>
    <key>drainFairy</key>
    <string>SequenceTransmitFlagshipInset</string>
    <key>guidebookDelayCreateHardy</key>
    <string>ThreadEnforceCrestline</string>
    <key>paddingOffset</key>
    <string>DeviceMenuReceiver</string>
    <key>bulletGlorious</key>
    <string>SteelElementHeroicBrief</string>
    <key>contractionClassicOn</key>
    <string>RareApertureReflectRadius</string>
    <key>lushCoreAlignBreak</key>
    <string>AgainstBeginTopic</string>
    <key>teamRadio</key>
    <string>PrudentLeapSendWatchTechnique</string>
    <key>notifierProjectorDiffuse</key>
    <string>ReportController</string>
</dict>
</plist>
