<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>signDriftStore</key>
    <string>WritePingPrefetch</string>
    <key>headAccumulateCrestline</key>
    <string>SelectorScroller</string>
    <key>badgeToward</key>
    <string>NorthWaryProvider</string>
    <key>keyframeTrackChannelsUnity</key>
    <string>ReceiveCandidTrack</string>
</dict>
</plist>
