<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>disclaimerRecover</key>
    <string>JobSurfAllocatorQuietBy</string>
    <key>spaceIntact</key>
    <string>LeapVisibilityPlayful</string>
    <key>insideStoneActivity</key>
    <string>SkillPlushPrintEquivalent</string>
    <key>torchEmit</key>
    <string>ValleyExecuteSteelLedge</string>
    <key>upbeatRadar</key>
    <string>InsideCascadeFormalReplica</string>
    <key>upCapsuleChartUpward</key>
    <string>PlotChatTrain</string>
</dict>
</plist>
