<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>motionVirtuousSkipBuilder</key>
    <string>TeamWeaveSubmitBind</string>
    <key>orchardPlainRecoverTangent</key>
    <string>StrategyResize</string>
    <key>descentShapeReal</key>
    <string>DropdownMoorResume</string>
    <key>expandUniversalCapacities</key>
    <string>PluginExpandedTickerDelete</string>
    <key>chargeComplex</key>
    <string>HeroicLeapLogConfig</string>
    <key>serializeImprovedZone</key>
    <string>DecorateWeave</string>
    <key>titleAbortFit</key>
    <string>LoyalPaint</string>
    <key>styleSublimeDismiss</key>
    <string>VisibilityGraciousOffset</string>
</dict>
</plist>
