<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>alpineTweenConsume</key>
    <string>ThornFilledOffsetMature</string>
    <key>proudCheckboxMatch</key>
    <string>FormatUnloadVariantUnloadAmbient</string>
    <key>quietGenericDrainIntegration</key>
    <string>LoopFloraMediatorConnectSlice</string>
    <key>compareCuratedUpgradeEnvironment</key>
    <string>ForceAtCompletion</string>
    <key>shuffleCertificate</key>
    <string>InflateReactiveOrientation</string>
    <key>refinedNotificationClusterRebuild</key>
    <string>OnElementalPinBullet</string>
    <key>stylerPeakLayeredDown</key>
    <string>DescriptorPrototypeUnusualEngine</string>
</dict>
</plist>
