<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>decoratorSpiritDeleteSincere</key>
    <string>ThornRebaseDramaticTransformableApply</string>
    <key>privateDrawRestAmortization</key>
    <string>PassageInspectorShiftStyle</string>
    <key>sandIvoryConsolidateInfo</key>
    <string>UrbanUpVisibilityExpose</string>
    <key>saverFrugalCalibrateInstance</key>
    <string>GladeDiffuseBeautifyTranslateEmitter</string>
    <key>civicVoyageConfiguration</key>
    <string>IconicVersionDashboard</string>
    <key>sceneFacade</key>
    <string>ComposeEndThickStrip</string>
</dict>
</plist>
