<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>localResponderRelayBind</key>
    <string>EnumEventHelper</string>
    <key>locationBegin</key>
    <string>SelectReplayBlitheBefore</string>
    <key>tensionUnifiedPayloadListen</key>
    <string>DependencyDefinedScale</string>
    <key>decoderReverse</key>
    <string>StrengthRowQuickPreserve</string>
    <key>accelerationAerialRebaseBuffer</key>
    <string>ExceptionChargeClose</string>
    <key>driftZealous</key>
    <string>AdaptiveWatchRibbon</string>
    <key>stackSweetEmber</key>
    <string>StripUniqueTemplateEnable</string>
</dict>
</plist>
