<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>threadScrollerPaintDramatic</key>
    <string>SaturationGeneratorBeginTangible</string>
    <key>truncateFriendlyBadgeMomentum</key>
    <string>InferenceStopRegisterCommandHold</string>
    <key>duneOuter</key>
    <string>PrairieStaggerSkill</string>
    <key>neatThornAppearanceMagnify</key>
    <string>EdgeRowMountGuardBuilder</string>
    <key>clearPower</key>
    <string>StripeWithoutUnitBackup</string>
</dict>
</plist>
