<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>globeHarmonic</key>
    <string>TorchMagnify</string>
    <key>proudVineTrajectorySerialize</key>
    <string>SearchListenAdapt</string>
    <key>interactLoose</key>
    <string>ChasmProjector</string>
    <key>decoratorCheckExquisiteSwatch</key>
    <string>CoralMediaSharpOptimize</string>
    <key>meritMeadowBuilder</key>
    <string>InfiniteDrawStemLuminous</string>
    <key>finishHardSafe</key>
    <string>ReuseEqualFill</string>
    <key>justRecursion</key>
    <string>RuggedFlashRoyalShard</string>
    <key>toastTenseParse</key>
    <string>BalancerUploadNotifierStackMapper</string>
    <key>detectTideLively</key>
    <string>MinifyIntegrationMindfulPreload</string>
    <key>amortizationVitalCalculateAlert</key>
    <string>BarMagicContraction</string>
</dict>
</plist>
